.container{
max-width: 1296px;
margin: 0 auto;
}

.name{
  padding-top: 160px;
}
.title-font{
  font-size: 128px;
  font-weight: 400;
}

img{
  padding-left: 330px;
}

.header{
  padding-left: 648px;
}