body {
	font-family: "Castoro";
  font-weight: 400;
  margin: 0 auto;
  }

img{
  max-width: 100%;
  height: auto;
  vertical-align:middle;
}


*,*::before,*::after{
	box-sizing: border-box;
}


a{
	text-decoration: none;
    color: black;
}

.text-center{
    text-align: center;
}