.self-introduction {
  background: #EFEFEF;
}

.container{
  max-width: 1296px;
}

.self-introduction p{
  font-size: 32px;
  line-height: 48px;
  padding: 48px 0;
  padding-left: 972px;
}

.evans{
  padding-top: 40px;
}

h3{
  color: #AE0000;
  max-width: 636px;
  font-size: 40px;
  line-height: 60px;
  border-bottom:3px solid #AE0000;
  padding-top: 40px;

}

li{
  font-size: 24px;
  line-height: 36px;
  width: 636px;
  padding-top: 16px;
}

.time{
  color: #949494;
  font-size: 20px;
  font-style: italic;
  line-height: 30px;

}

.pd-l-312{
  padding-left: 312px;
}